[Unit]
Description=Periodic sync of writing directory to cloud storage

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
